*{
    box-sizing: border-box;
    font-family: sans-serif;
}


header{
    background-color: #0F45D8;
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
}

.search{
    background-color: #0F45D8;
    color: #fff;
    font-size: 20px;
}