*{
    box-sizing: border-box;
    font-family: sans-serif;
}


header{
    background-color: #0F45D8;
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
}

.search{
    background-color: #0F45D8;
    color: #fff;
    font-size: 20px;
}

.container{
    font-family: sans-serif;
    margin: solid black;
}
.container-fluid{
    display: flex;
    align-items: center;
    justify-content: center;
}